img {
  width: 100%;
}

nav.navbar-expand-sm.navbar-dark.bg-primary.mb-4 {
  margin-bottom: 0px !important;
  padding: 0;
  width: 100%;
}

.bg-primary {
  background-color: #007bff !important;
}

.fa.fa-edit {
  color: #580505;
}

.link1 {
  position: absolute;
  display: inline-block;
  left: -315px !important;
}

.link2 {
  position: absolute;
  display: inline-block;
  left: -240px !important;
}

.link3 {
  position: absolute;
  display: inline-block;
  left: -165px !important;
}

.nav-wrapper {
  position: absolute;
  display: inline-block;
  left: 875px !important;
}

.col-md-3 {
  margin-top: -10px;
  margin-bottom: -5px;
  line-height: 1;
  right: -530px;
  width: 75%;
  height: -10px;
}

.fa.fa-minus-circle {
  color: rgba(0, 0, 0, 0.808);
  cursor: pointer;
}

.fa.fa-edit {
  color: rgba(0, 0, 0, 0.808);
  cursor: pointer;
}

.dark-overlay {
  background-color: rgba(243, 10, 10, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-md-12 {
  right: -510px;
  width: 75%;
  height: -10px;
  left: -14px;
  margin-top: -120px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.col-lg-4 {
  margin-top: -10px;
  margin-bottom: -5px;
  width: 50%;
  height: 20px;
}

.col-md-2 {
  margin-top: -20px;
  margin-bottom: -50px;
  line-height: 0.7;
  left: -70px;
  width: 20%;
  height: 10px;
  white-space: nowrap;
}

.nbru {
  left: 130px;
}

.list-group-item.delete {
  margin-top: 0px;
  margin-top: 0px;
  width: 125px;
  height: 50px;
  left: 100px;
  background-color: transparent;
}

.list-group-item.update {
  margin-top: 0px;
  width: 125px;
  height: 50px;
  left: 100px;
  background-color: transparent;
}

.list-group-item.delete:hover {
  cursor: pointer;
  background-color: rgba(179, 181, 182, 0);
}

.list-group-item.update:hover {
  cursor: pointer;
  background-color: rgba(179, 181, 182, 0) !important;
}

.list-group-item.board:hover {
  cursor: pointer;
}

.first {
  width: 80px;
  margin-right: 20px;
}

.second {
  width: 75px;
  margin-right: 20px;
}

.third {
  width: 80px;
  margin-right: 20px;
  white-space: nowrap;
}

.btn-group.btn-group-toggle {
  color: red;
}

.col-md-7 {
  margin-top: -110px;
  left: 250px;
}

.diplay-4 {
  left: 175px;
  margin-top: -55px;
}

.card.card-body.bg-light.mb-3 {
  width: 635px;
  height: 100px;
  left: -20px;
  background-color: transparent !important;
  margin-bottom: 5px !important;
}

.btn-block.mt-4 {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-block.mt-4:hover {
  background-color: #007bff;
  opacity: 0.9;
}

.btn.btn-secondary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn.btn-default {
  background-color: #a1a2a5;
  border-color: #a1a2a5;
}

.btn.btn-default:hover {
  background-color: #919294;
  opacity: 0.9;
}

.btn.btn-secondary:hover {
  background-color: #0367d3;
  border-color: #007bff;
}

.sign {
  text-align: center;
  margin-top: -175px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  padding: 12rem 0;
  background: -webkit-gradient(
      cover,
      cover,
      cover,
      from(rgba(22, 22, 22, 0.1)),
      color-stop(75%, rgba(22, 22, 22, 0.5)),
      to(#161616)
    ),
    url("../src/img/landing.jpg");
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0%,
      rgba(22, 22, 22, 0.5) 75%,
      #161616 100%
    ),
    url("../src/img/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.nbryn {
  position: relative;
  width: 100%;
  height: 20%;
  min-height: 10rem;
  padding: 12rem 0;
  background: -webkit-gradient(
      cover,
      cover,
      cover,
      from(rgba(22, 22, 22, 0.1)),
      color-stop(75%, rgba(22, 22, 22, 0.5)),
      to(#161616)
    ),
    url("../src/img/landing1.jpg");
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0%,
      rgba(22, 22, 22, 0.5) 75%,
      #161616 100%
    ),
    url("../src/img/landing1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.nbryn h1 {
  font-family: "Varela Round";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nbryn h2 {
  max-width: 20rem;
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 700px) {
  .nbryn h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .nbryn {
    height: 100vh;
    padding: 0;
  }
  .nbryn h1 {
    margin-top: -0px;
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .nbryn h2 {
    max-width: 40rem;
    font-size: 1.25rem;
  }
}

.bg-black {
  background-color: #161616 !important;
}

footer.footer {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.mx-auto.text-center {
  margin-top: 125px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
}

.mx-auto.my-0.text-uppercase {
  margin-top: -120px !important;
}
