img {
  width: 100%;
}

.fa.fa-edit {
  color: #580505;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: rgb(231, 216, 218);
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: rgb(231, 216, 218);
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: rgb(231, 216, 218);
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(243, 10, 10, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: rgb(247, 9, 9) !important;
}

.btn-primary::placeholder {
  color: rgb(230, 15, 15) !important;
}

.row {
  top: 20;
  left: 50;
  margin-top: -10px;
  margin-bottom: -10px;
  width: 80%;
  height: 110px;
}

.list-group {
  margin-top: -1px;
  margin-bottom: -10px;
  line-height: 1;
  width: 75%;
  height: -10px;
}

.col-md-3 {
  margin-top: -10px;
  margin-bottom: -5px;
  line-height: 1;
  right: -530px;
  width: 75%;
  height: -10px;
}

.col-lg-4 {
  margin-top: -10px;
  margin-bottom: -5px;
  width: 50%;
  height: 20px;
}

.col-md-2 {
  margin-top: -10px;
  margin-bottom: -50px;
  line-height: 0.7;
  left: -74px;
  width: 20%;
  height: 20px;
}

.first {
  width: 80px;
  margin-right: 113px;
}

.second {
  width: 80px;
  margin-right: 113px;
}

.third {
  width: 80px;
  margin-right: 113px;
}

.btn-group.btn-group-toggle {
  color: red !important;
}

.col-md-7 {
  margin-top: -110px;
  left: 250px;
}

.col-md-12 {
  margin-top: -130px;
  left: 100px;
}

.card.card-body.bg-light.mb-3 {
  width: 875px;
  height: 100px;
}
